HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

htmlReport/

### LOG FILES ###
/logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Node / Frontend
node_modules/
dist/
.npm/
npm-debug.log*

# Java / Maven / Gradle
.idea/
target/
*.class
*.jar
*.war
.settings/
.project
.classpath

# OS specific
.DS_Store
Thumbs.db